<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbaord</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="#" id="logout-link">Logout</a></li>
      </ul>
    </nav>

    <header>
      <h1>The Tech Blog</h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
        <a href="/dashboard/new">New Post</a>
    </footer>

    <script src="/js/logout.js"></script>
  </body>
</html>